asyncio
discord.py==1.7.3
requests
regex
typing
cloudscraper==1.2.64
requests
pyttsx3==2.90
gTTS
pyttsx3eaidk
espeakng
speake3
py-espeak-ng
PyNaCl
ffmpeg
discord.py[voice]
pip
youtube-dl
google-api-python-client
python-dotenv